<!DOCTYPE html>
<html lang="en">
<head>
	<title>MTG Card Search</title>
	<link href="css/screen.css" rel="stylesheet" media="screen">
</head>
<body>
	<div id="toolbar">
		<div class="wrapper">
			<button class="reset">Empty</button>
			
			<div class="grid-size">
				<label for="grid-size">Grid Size:</label>
				<select id="grid-size">
					<option value="1">Small</option>
					<option value="2">Medium</option>
					<option value="3">Large</option>
				</select>
			</div>
			
			<input type="text" class="query">
			<button class="search">Search</button>
			<img src="images/loading.gif" class="loading">
		</div>
	</div>
	
	<div id="search-results">
		<button class="close">Close</button>
		<div class="results">
			<ul>
				<li class="card" data-id="<%= id %>">
					<a href="#" title="<%= name %>">
						<img src="" alt="<%= name %>">
						<span class="add">+</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	
	<ul id="grid" class="clearfix"></ul>
	
	<script type="text/template" id="search-item-tmpl">
		<li>
			<a href="<%= url %>" title="<%= name %>" data-id="<%= id %>" class="card">
				<img src="<%= image %>" alt="<%= name %>">
				<span class="add">+</span>
			</a>
		</li>
	</script>
	<script type="text/template" id="grid-item-tmpl">
		<li class="card" data-id="<%= id %>">
			<img src="<%= image %>" alt="<%= name %>">
			<button class="remove">x</button>
		</li>
	</script>
	
	<script src="js/jquery.js"></script>
	<script src="js/jquery.scrollto.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/backbone.js"></script>
	<script src="js/backbone-localstorage.js"></script>
	<script src="js/mtginfo.js"></script>
</body>
</html>